@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Demo connexion à un compte de stockage Azure</h3>
    <p>
        @foreach(var imgname in Model.Images){<img src="@imgname.Url" alt="@imgname.Name"/><br>}
    </p>
</div>
